body{
    background-size:cover;
}

.heading{
    font-size:20px;
    margin:0px;
    box-shadow:10px;
    color:rgb(40, 19, 135)
}
canvas{
    border: radius 20px;
    border:5px solid rgb(33, 12, 12);
    box-shadow:5px 5px 5px rgb(108, 231, 236);
}

